
/*Imports*/
@import "utilities/variables";


/*Reset y propiedades generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
  
}
body{
  
background: $bg-gradiente;
}

/* Al <main> le di display contents porque fue el único modo que encontré para que no me rompiera el flujo*/

main{
    display:contents;
}

/* Grid y Propiedades del HEADER (incluye el navbar de bootstrap)*/

.header { grid-area: header; 
    .navbar{
        background-color: $bg-color__navbar;
        div{
            .navbar-toggler-icon{
                background-image:url(../img/icons/menu.jpg) ;
              }
        }
      }
      .navbar-collapse{
        flex-grow: 0;
        margin-right:80px;
        ul{
            li{
                .nav-link{
                    color:$color__nav-link;
                  }
                .nav-link:hover{
                    font-weight: bold;
                    color:$color__acento;
                    border-bottom:2px solid $color__acento;
                   }
            }
        }
      }
}

/* Grid y propiedades del HOME */

.grid__home {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 100vh 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    
    grid-auto-flow: column;
    grid-template-areas:
      "header"
      "main__home"
      "footer";
  }
  
   .main__home { grid-area: main__home; 
    background-image: url(../img/fondoHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: $bg-gradiente;
    display: flex;
    .texto {
        position: relative;
        font-size: 1.3rem;
        text-align: right;
        font-style: oblique;
        margin-top: 25vh;
        margin-left: 5rem;
        p{
            margin-bottom:0px;
            color:$color__textos;
        }
    }

}
  


/*Grid y Porpiedades de NOSOTRAS*/


.grid__nosotras {  display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 65vh auto;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "header header header"
      "titulo titulo titulo"
      "nosotras__texto nosotras__texto nosotras__imagen"
      "footer footer footer";
    background:$bg-gradiente;
    .nosotras__texto {
        grid-area: nosotras__texto; 
        display:flex;
            .nosotras__texto-texto{
           display:flex;
           flex-direction:column;
           justify-content: center;
           padding-left: 15%;
           padding-right: 5%;
           font-size: 1.2rem;
           text-align: right;
           color:$color__textos;
           font-weight: 600;
           
       }
   
   }
   
     .nosotras__imagen { grid-area: nosotras__imagen; 
      display:flex;
      align-items: center;
     
   }

  }
  
.titulo { grid-area: titulo;
        height: fit-content;
        margin-top: 70px;
        padding-left:50px;
        padding-top:10px;
        h1{
            font-size: 1.8rem;
            font-weight: bold;
            color:$color__titulo;
            
        }
        }


/*propiedades del grid TIENDA*/
.grid__tienda {
    display: grid;
    height:auto;

    grid-template-areas: "header"
        "titulo"
        "main__tienda"
        "footer";
     
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    .main__tienda{
        grid-area: main__tienda;
        display:flex;
        justify-content: center;
        height:auto;
        .main__tienda__contenedor {
            width:80%;
             display: flex;
             flex-wrap:wrap;
             justify-content: center;
             align-content: center;
             .tienda__fila__producto {
   
                width: 10rem;
                border: solid 1px $color__border-tarjeta;
                margin: 1rem;
                cursor: pointer;
                img {
                    width: 100%;
                
                }
                p {
                    text-align: center;
                    padding: 0.2rem;
                    margin-bottom:0px;
                                    }
                .tienda__fila__producto-precio {
                    font-weight: bold;
                    font-size: 1.5rem;
                    color: $color__precio;
                }
                .tienda__fila__producto-descripcion {
                    font-weight: bold;
                }
                .tienda__fila__producto-financiacion {
                    font-size: 0.7rem;
                    background-color: $bg-color__financiacion;
                    color:$color__financiacion;
                }
            
            }
             
             
         }
        
    }


}


/*propiedades del grid galeria*/
.grid__galeria {
    display: grid;
    height: auto;

    grid-template-areas: "header"
        "titulo"
        "container__carrousel"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: auto auto 80vh auto;
    background-color:whitesmoke;


}

.container__carrousel{
grid-area: container__carrousel;
   display:flex;
   justify-content: center;
   margin-bottom:30px;
   .carousel{
    width:80%;
    margin:auto;
}
}



/*propiedades del grid contacto*/

.grid__contacto {  display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto 65vh auto;
    column-gap: 2rem;
    
    grid-template-areas:
      "header header"
      "titulo titulo"
      "contacto__contacto contacto__formulario"
      "footer footer";
      .contacto__formulario {
        justify-self: start;
        align-self: center;
        grid-area: contacto__formulario;
        width:70%;
        padding-bottom:50px;
        form{
            div{
                h2{
                    color:$color__contacto
                }
                .label{
                    text-align:left;
                }
                .form-control{
                    border-radius: 0px;
                }
            }
            .btn{
                margin-top:15px;
                border-radius: 0px;
                background-color:$bg-color__button;
                border:none;
                font-weight: bold;
                width:100%;
                color:$color__button;
                
            }
            .btn-primary:hover {
                background-color: $bg-color__button-hover ;
                color:$color__acento;
            }
        }
        
      }
      
      .contacto__contacto {
        justify-self: center;
        align-self: center;
        grid-area: contacto__contacto;
        text-align: justify;
        color:$color__contacto;
        div{
            div{
                p{
                    img{
                        margin-right:10px;
                    }
                }
            }
        }
      }
  }
  
  
.fondo__contacto{   
    background-color: $bg-color__contacto;
    .titulo__pagina-contacto{
        h1{
            color:$color__contacto;
            
        }
    } 
    
    
         
    
      
     
       
    }
    
 /*propiedades del footer*/

footer {
    grid-area: footer; 
    background-color: $bg-color__footer;
    width: 100%;
    color: $color__footer;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    div {
        width: 25%;
        padding: 1.5rem;
        a {
            color: $color__footer;
        }
    } 
    h3 {
        margin-bottom: 10px;
        font-size: 1.1rem;
    }
    .footer__medioPago {
        width: 70%;
    } 
}





@import "utilities/medias";



